# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
firebase-debug.log
.runtimeconfig.json

# Netlify Functions TypeScript
netlify/functions/*.ts
netlify/functions/**/*.ts
!netlify/functions/node_modules

# Local Netlify folder
.netlify
